:root{
    --color-identity-black: #141B1F;
    --color-identity-green: #00AAA2;
}

body{
    color: var(--color-identity-black);
}

.v-toolbar{
    background-color: var(--color-identity-green);
}

.v-icon{
    color: var(--color-identity-black);
}

.v-footer{
    background-color: var(--color-identity-black);
}

.v-tabs{
    background-color: var(--color-identity-green);
}